{{>header.partial}}
<h4>"Dashboard"</h4>

<div class="message">
    {{message}}
</div>

<div class="oauth-controls">
    <a href="/procore/connect">Oauth Procore</a>
    <a href="/hubspot/connect">Oauth Hubspot</a>
</div>


<div class="test-controls">
    <a href="/procore/projects">Projects</a>
    <a href="/procore/companies">Companies</a>

</div>

{{>footer.partial}}